<ion-content><mat-card class="example-container" style="margin-top: 10%;">
    <mat-card-header>
        <mat-card-title style="color: tomato;">
            Error 404:
        </mat-card-title>
        <mat-card-subtitle>
            Page Not Found
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p matLine style="text-indent: 1em;">
            Redirecting in <input [(ngModel)]="is" style="border-width: 0;">
        </p>
    </mat-card-content>
</mat-card>
</ion-content>
