<div style="margin-top: 10%;">
    <div *ngIf="!authService.getUser() else elseBlock"
         class="example-container ">

  <mat-expansion-panel class="example-container">
      <mat-expansion-panel-header>
  <mat-panel-title>
    Sign in with Firebase:
  </mat-panel-title>
  <mat-panel-description>
    Enter your Firebase email and password
  </mat-panel-description>
</mat-expansion-panel-header>
  <mat-form-field>
    <input matInput name="username" placeholder="Email" #email
    (keyup.enter)="changePH('Email w/ Pass'); toggleGoogle('Email w/ Pass'); login(email, password)" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" name="password"  placeholder="Password" #password (keyup.enter)="changePH('Email w/ Pass'); toggleGoogle('Email w/ Pass'); login(email, password)"
required></mat-form-field>&nbsp;
<button mat-button
   (click)="changePH('Email w/ Pass'); toggleGoogle('Email w/ Pass'); login(email, password)">
   <mat-icon>input</mat-icon> Firebase Sign-In
</button></mat-expansion-panel>
<br>
<mat-card class="example-container" style="display: none;">
        <button mat-button
           (click)="changePH('Google'); toggleGoogle('Google'); login('', '')">
           <mat-icon>input</mat-icon> Google Sign-In
        </button>
</mat-card>
</div>
<ng-template #elseBlock>
    <div class="example-container ">
        <mat-card-subtitle>
            Logged in as <b>{{ printUser() }}</b>
        </mat-card-subtitle>
        <mat-card-content>
            <button mat-button class="example-container centerd" href (click)="logout()"><mat-icon>exit_to_app</mat-icon> Sign-Out</button>
        </mat-card-content>
    </div>
</ng-template>
</div>
