<ion-content>
    <div class="centerd example-container" style="margin-top: 10%;" >
<form class="example-form">
    <mat-card>
        <mat-form-field>
        <input matInput name="firstName" placeholder="First Name" id="firstName" value="{{imgService.filledCard.firstName || ''}}" #firstName>
    </mat-form-field>
    <mat-form-field>
        <input matInput name="lastName" placeholder="Last Name" id="lastName" value="{{imgService.filledCard.lastName || ''}}" #lastName>
    </mat-form-field>
    <mat-form-field>
        <input matInput name="organization" placeholder="Organization" id="organization" value="{{imgService.filledCard.organization || ''}}" #organization>
    </mat-form-field>
    <mat-form-field>
        <input matInput name="position" placeholder="Position" id="position" value="{{imgService.filledCard.position || ''}}" #position>
    </mat-form-field>
    <mat-form-field>
        <input matInput name="email" placeholder="Email" id="email" value="{{imgService.filledCard.email || ''}}" #email>
    </mat-form-field>
    <mat-form-field>
        <input matInput name="phone" placeholder="Phone" id="phone" value="{{imgService.filledCard.phone || ''}}" #phone>
    </mat-form-field>
    <mat-form-field  style="min-width:72%">
        <input matInput name="address" placeholder="Address" id="address" value="{{imgService.filledCard.address || ''}}" #address>
    </mat-form-field>
    <div class="clearfix">
        <button mat-button style="float: right;" (click)="addCard(firstName, lastName, organization, position, email, phone, address); clearForm()"
                >
            <mat-icon class="icon" matPrefix>add_circle</mat-icon> Add
        </button>
    <button mat-button style="float: right;" type="reset" (click)="clearForm()"
            >
        <mat-icon class="icon" matPrefix>clear_all</mat-icon> Clear
    </button></div>
    </mat-card>
    <mat-card class="example-container"
              *ngIf="imgService.txtano"
              style="margin-top: 10%;">
        <mat-card-header>
            <h5 matLine>Scan Results</h5>
        </mat-card-header>
        <mat-card-content>
        <p matLine>
        <mat-divider></mat-divider>
            <textarea matInput rows="10">
                {{imgService.txtano}}
            </textarea>
        </p>
        </mat-card-content>
        <mat-card-footer>
            (See console log for entities.)
        </mat-card-footer>
    </mat-card>
</form>
