<ion-content>
    <div class="centerd example-container" style="margin-top: 10%;">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Business Cards App
            </mat-card-title>
            <mat-card-subtitle>
                CSC 436 Final Project, Fall 2019-20
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-divider></mat-divider>
                    <br><h4>
                        Instructions
                    </h4>
                    <p>
                        You must log-in with Google or the default final project user/pass to access the other pages. Once authorized, you may manually add business cards or add them from scanned local or remote images.
                    </p>

                    <p>
                        Your sorted contacts are searchable by first name or organization, and from the general contacts page they may be edited or deleted.
                    </p>
        </mat-card-content>
        <mat-card-footer style="float: right; margin-right: 10px;">
            <mat-divider></mat-divider>
            <p matLine style="margin-top: 10%;">Erik McGuire</p>
        </mat-card-footer>
    </mat-card>
</div>
</ion-content>
